@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* === PALETA DE COLORES VERDES === */
:root {
  --background: #00190A;   /* Fondo principal */
  --foreground: #C9F7C3;   /* Texto base */

  --green-900: #00190A;
  --green-800: #032012;
  --green-700: #0D2E1B;
  --green-600: #1A3F2E;
  --green-500: #0E2F1D;
  --green-400: #0D2616;
  --green-300: #C9F7C3;
  --green-200: #245C39;
  --green-100: #71E19C;
  --green-50:  #BAF9CB;
  --green-soft: #D6F9E1;
}

/* === VARIABLES PARA USO EN TAILWIND === */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--green-500);
  --color-accent: var(--green-100);

  --font-sans: 'Inter', sans-serif;
  --font-mono: var(--font-geist-mono);
}
.text-soft {
  color: var(--green-soft);
}

.bg-green-gradient {
  background: linear-gradient(to right, #1A3F2E, #0D2616);
}

/* === BASE STYLES === */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

@layer base {
  h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: normal;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 72px;
    }
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 48px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 32px;
    }
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
  }

  @media (min-width: 768px) {
    h4 {
      font-size: 30px;
    }
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
  }

  @media (min-width: 768px) {
    h5 {
      font-size: 24px;
    }
  }

  h6 {
    font-size: 14px;
    font-weight: regular;
    line-height: normal;
  }

  @media (min-width: 768px) {
    h6 {
      font-size: 24px;
    }
  }

  p {
    font-size: 14px;
    font-weight: regular;
    line-height: normal;
  }
  @media (min-width: 768px) {
    p {
      font-size: 20px;
    }
  }

  /* Variants for p <p> */
  p.body-1 {
    font-size: 16px;
    font-weight: 500; /* Medium */
  }

  /* Body 2 => 16px, Regular (400) */
  p.body-2 {
    font-size: 16px;
    font-weight: 400; /* Regular */
  }
   /* Body 3 => 14px, Medium (500) */
   p.body-3 {
    font-size: 14px;
    font-weight: 500; /* Medium */
  }

  /* Body 4 => 14px, Regular (400) */
  p.body-4 {
    font-size: 14px;
    font-weight: 400; /* Regular */
  }

  a {
    color: var(--color-green-50);
    font-weight: 500;
  }
  /* Buttons */
  .button-1 {
    font-size: 18px; /* Button 1 */
    font-weight: 500; /* Medium */
    line-height: normal;
 
  }
  .button-2 {
    font-size: 16px; /* Button 2 */
    font-weight: 600; /* Semibold */
    line-height: normal;
    margin-top: -0.25em;
  margin-bottom: -0.25em;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Overwrite styles of Tailwind Typography (.prose) */
.prose h1 {
  font-size: 36px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .prose h1 {
    font-size: 72px;
  }
}

.prose h2 {
  font-size: 32px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .prose h2 {
    font-size: 48px;
  }
}

.prose h3 {
  font-size: 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .prose h3 {
    font-size: 32px;
  }
}

.prose p {
  font-size: 14px;
}
@media (min-width: 768px) {
  .prose p {
    font-size: 20px;
  }
}